.mainbttn {
	background-color:#000000;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'MarkWeb';
  font-weight: bold;
	font-size:17px;
	padding:13px 27px;
	text-decoration:none;
}
.mainbttn:hover {
	background-color:#ffffff;
  color: #000;
}
.mainbttn:active {
	position:relative;
	top:1px;
}
.mainbttn:focus {outline:0;}


@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}



.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: #fff;
  font-weight: 500;
  padding: $s-size;
  outline: none;
}

.button--link {
  background: none;
  border:none;
  color:$off-white;
  padding: 0;
  font-style: italic;
  outline: none;
}
