.sectionintro{
  background: #fff;
  width: 800px;
  color: #000;
  padding: 20px 0 20px 0;
  font-size: 1.6rem;
  font-family: 'MarkWeb' ;
}


.sectionintro__headline{
  display: inline-block;
  margin: 10px 0 20px 0;
  color: #000;
  font-size: 4.8rem;
  font-family: 'CanelaWeb' ;
}
